

#opening-video{
  width: 100vw;
  align-self: center;
}

body{
  background-color: #f5e389;
  margin: 0;
  font-family: 'Kodchasan', sans-serif;
}

.score{
  background-color: #37678d;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
}

h2{
  margin-bottom: 0;
}

main{
  padding: 1em;
}

h4{
  margin: 0;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-self: center;
}

li{
  border: 2px solid #37678d;
  border-radius: 5px;
  margin-bottom: .5em;
  padding: .2em;
}

.results{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#end-video{
  max-height: 35vh;
  width: auto;
  align-self: center;
}