@import '../base/colours.scss';

#opening-video{
    width: 100vw;
    align-self: center;
  }
  
  body{
    background-color: $yellow;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
  }
  